<div class="menu">
  <a href="#" class="icon-main">T</a>
  <a href="#skills" class="icon-skills"></a>
  <a href="#projects" class="icon-projects"></a>
  <a href="#contact" class="icon-contact"></a>
  <div class="divider"></div>
  <a
    href="https://www.linkedin.com/in/thiago-moreira-razzini/"
    class="icon-linkedin"
    target="_blank"
  ></a>
  <a
    href="https://github.com/thiagorazzini"
    class="icon-github"
    target="_blank"
  ></a>
  <a
    href="https://www.youtube.com/@thiagoDevTV"
    class="icon-yt"
    target="_blank"
  ></a>
</div>
<section class="main">
  <div class="content">
    <div class="leftside">
      <h1>
        Olá<br />
        Eu sou o <span>T</span>hiago,<br />
        desenvolvedor web
      </h1>
      <button class="btn-contact">Entrar em contato</button>
    </div>
    <div class="img"></div>
  </div>
</section>

<section class="skills" id="skills">
  <h1>Competências</h1>
  <p>Backend</p>
  <div class="loading backend"></div>
  <p>Frontend</p>
  <div class="loading frontend"></div>
  <p>Devops</p>
  <div class="loading devops"></div>
</section>

<section class="projects" id="projects">
  <h1>
    Portifolio e <br />
    Experiências
  </h1>
  <div class="boxes">
    <div class="box blue">NOS Inovação</div>
    <div class="box red">Mind Source</div>
    <div class="box blue">Code Yourself</div>
  </div>
  <div class="boxes">
    <div class="box orange">paySimplex</div>
    <div class="box green">BHS</div>
    <div class="box orange">Attps Tecnologia</div>
  </div>
</section>

<section class="contact" id="contact">
  <h1>Entrar em <br />contato</h1>

  <div class="form">
    <div class="row">
      <input class="input" type="name" placeholder="Nome" [(ngModel)]="name" />
      <input
        type="email"
        class="input"
        placeholder="Email"
        [(ngModel)]="email"
      />
    </div>
    <input
      type="text"
      class="input"
      placeholder="Assunto"
      [(ngModel)]="subject"
    />
    <textarea
      placeholder="Mensagem"
      class="textarea"
      [(ngModel)]="massage"
    ></textarea>
    <button type="submit" class="submit" (click)="sendMessage()">Enviar</button>
  </div>
</section>
